doctype html
html(lang="en")
  head
    title Hacker News Clone
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/main.css")
  body
    .container
      h1 Hacker News Clone
      hr
      .col-xs-12.col-md-6
        ul.list-group
          each link in links
            li.list-group-item
              a(href="#", data-id="#{link._id}").upvote-link
                span.glyphicon.glyphicon-triangle-top
              span &nbsp;
              a(href=link.URL)= link.title
              .count= link.upvotes
                |  votes
      .col-xs-12.col-md-6
        h4 Submit your link:
        form(action="/links", method="post")
          .form-group
            label Title:
            input(name="title", placeholder="Title").form-control
          .form-group
            label URL:
            input(name="URL", placeholder="https://").form-control
          button(type="submit").btn.btn-success Submit
    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script.
      $(document).ready(function() {
        //has attribute
        $(".upvote-link").click(function(e) {
          var link = $(this);
          e.preventDefault();
          $.ajax({
            url: "/links/" + link.data("id")  + "/upvote",
            type: "PUT" }
          ).done(function(data) {
            link.siblings(".count").text(data.upvotes + " votes");
          });
        });
      });